<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="css/main.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">




    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <style>
        .results>div {
            padding:20px;
            padding-bottom:10px;
        }

        .unranked {
            background-color: #333;
        }

        .unranked * {
            color: white!important;
        }

        .results>div p:last-child {
            padding-bottom:0px;
        }

        .green * {
            color: white !important;
        }

        .red * {
            color: white !important;
        }

        .chart, #resultChart {
            width: 400px;
        }
        
    </style>

    <title>WellSCAN Calculator - Calculate HER Rankings</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="index.html"><img src="img/wellscan_branding.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="calculator.html">Calculator</a>
                </li>

                <li  class="nav-item active">
                    <a class="nav-link" href="food-search.html">Food Lookup</a>
                </li>
        </div>
    </nav>
    <!-- <section class="container-fluid calc header-calc">
        <div class="container">
            <h1>Calculate Rankings</h1>
        </div>
    </section> -->
    <div id="app">
        <v-app>
    <section class="container-fluid header">
        <div class="container">
            <div class="row header-text justify-content-center align-items-center">
                <div class="col-lg-10 header-text">
                    <h1 class="text-center"><span id="bold-header">Lookup</span> the Category and HER Rank for Common Foods</h1>
                </div>
                <div class="col-lg-12">
                    <h3>Search for a Food: </h3>

                    <fieldset>

                        <v-autocomplete
                            dark
                            :items="autocompleteOptions"
                            v-model="selectedFood"
                            chips
                            deletable-chips
                            solo-inverted
                            label="Start typing to search"
                            :search-input.sync="searchFoodInput"
                            item-text="name"
                            item-value="value"
                            @change="initChart"
                        >
                    
                            <template #no-data>
                                <v-list-item>
                                    <v-list-item-title>Ex. apples</v-list-item-title>
                                </v-list-item>
                            </template>
                        </v-autocomplete>

                    </fieldset>
                </div>                
            </div>
        </div>
    </section>

    <section class="container intro">
        
            <div>
                <div class="container">
                    <div class="row">
                    <div class="col-lg-12">
                        <h3 v-show="selectedFood">Results: <strong>{{selectedFood}}</strong></h3>

                        <div class="results">
                            <div v-if="selectedFood" :class="resultCSSClass">
                                <p>Category: <strong>{{ results[selectedFood].category }}</strong></p>
                                <p>Rank: <strong>{{ selectedFoodRankedText }}</strong></p>
                                <p v-if="results[selectedFood].source && results[selectedFood].source_id">
                                    Source: <strong>{{ results[selectedFood].source }} {{ results[selectedFood].source_id }}</strong>
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="chart" v-show="selectedFood && selectedFoodsTotalItemsAnalyzed">
                                        <canvas id="resultChart" width="400" height="400"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-6" v-show="selectedFoodsTotalItemsAnalyzed">
                                    <p v-if="selectedFood">Total Foods Analyzed: {{results[selectedFood].total_items_analyzed}} </p>
                                    <p v-if="selectedFood">Choose Often (Green): {{selectedFoodGreenFoods}} </p>
                                    <p v-if="selectedFood">Choose Sometimes (Yellow): {{selectedFoodYellowFoods}} </p>
                                    <p v-if="selectedFood">Choose Rarely (Red): {{selectedFoodRedFoods}} </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                </div>

            </div>
       
    </section>


</v-app>
</div>




    <!-- Optional JavaScript -->
    <script src="main.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>

    <script>

        const legendPaddingPlugin = {
            beforeInit(chart) {
                // Get reference to the original fit function
                const originalFit = chart.legend.fit;

                // Override the fit function
                chart.legend.fit = function fit() {
                    // Call original function and bind scope in order to use `this` correctly inside it
                    originalFit.bind(chart.legend)();
                    // Change the height as suggested in another answers
                    this.height += 25;
                }
            }
        };

        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    gapiKey: "AIzaSyCbgHVIP7dAz0jXudr6xBFEmUm2D1--hWs",
                    spreadsheetId: "1sT0DvrgThLdjkX5E6mG5saLBZEwkc7rwVHTyDox4qFk",
                    foodOptionsRaw: [],
                    results: {},
                    selectedFood: '',
                    searchFoodInput: '',
                    chart: null
                };
            },
            created() {

                // This one can get general information on the spreadsheet, such as column and row ranges.
                // const g = await get(`https://sheets.googleapis.com/v4/spreadsheets/${this.spreadsheetId}?key=${this.gapiKey}`)

                // Retrieves values in the range provided.
                axios.get(`https://sheets.googleapis.com/v4/spreadsheets/${this.spreadsheetId}/values/A1:I1000?key=${this.gapiKey}`).then((g) => {
                    // Loop our values, transform readable/usable data.
                    for (let index = 0; index < g.data.values.length; index++) {
                        // Retrieve one single row.
                        const element = g.data.values[index];

                        if ( Array.isArray(element) && element.length > 0 && element[0].toLowerCase() !== 'source' ) {
                            // Retrive food metadata
                            const food = {
                                name: element[1].toLowerCase(),
                                category: (element[2] === undefined) ? 'N/A' : element[2],
                                rank: (element[3] === undefined) ? '' : element[3],
                                source: (element[0] === undefined) ? null : element[0],
                                source_id: (element[8] === undefined) ? null : element[8],
                                total_items_analyzed: (element[4] === undefined) ? 0 : element[4],
                                percent_green: (element[5] === undefined) ? 0 : element[5],
                                percent_yellow: (element[6] === undefined) ? 0 : element[6],
                                percent_red: (element[7] === undefined) ? 0 : element[7]
                            };


                            // Add to our list of selectable foods.
                            this.foodOptionsRaw.push({
                                name: ( food.source && food.source_id ) ? food.name + ' (' + food.source + ', ID: ' + food.source_id + ')' : food.name,
                                value: food.name,
                            });

                            // Save a result object with the food as key
                            this.results[food.name] = food;
                        }
                    }
                })

                
            },
            computed: {
                foodOptions() {
                    return this.foodOptionsRaw;
                },
                autocompleteOptions() {
                    // Not showing results when there is no input
                    if ( this.searchFoodInput?.length > 0 ) {
                        return this.foodOptions;
                    }
                    return [];
                },
                resultCSSClass() {
                    const rank = this.results[this.selectedFood]?.rank;
                    const approved_ranks = ['red', 'yellow', 'green', 'unranked'];
                    let classes = '';

                    if ( rank && approved_ranks.includes(rank.toLowerCase()) ) {
                        classes += ' ' + rank.toLowerCase();
                    } else {
                        classes += ' rank-none';
                    }

                    return classes;
                },
                selectedFoodsTotalItemsAnalyzed() {
                    if ( !this.results[this.selectedFood]?.total_items_analyzed ) {
                        return 0;
                    }
                    return parseInt(this.results[this.selectedFood]?.total_items_analyzed.replace(',', ''));
                },
                selectedFoodGreenFoods() {
                    const percent = this.results[this.selectedFood]?.percent_green;

                    if ( percent && this.selectedFoodsTotalItemsAnalyzed ) {
                        return parseInt(this.selectedFoodsTotalItemsAnalyzed * (parseFloat(percent) / 100));
                    }
                    return 0;
                },
                selectedFoodYellowFoods() {
                    const percent = this.results[this.selectedFood]?.percent_yellow;

                    if ( percent && this.selectedFoodsTotalItemsAnalyzed ) {
                        return parseInt(this.selectedFoodsTotalItemsAnalyzed * (parseFloat(percent) / 100));
                    }
                    return 0;
                },
                selectedFoodRedFoods() {
                    const percent = this.results[this.selectedFood]?.percent_red;

                    if ( percent && this.selectedFoodsTotalItemsAnalyzed ) {
                        return parseInt(this.selectedFoodsTotalItemsAnalyzed * (parseFloat(percent) / 100));
                    }
                    return 0;
                },
                selectedFoodRankedText() {
                    if ( this.results[this.selectedFood] ) {
                        const r = this.results[this.selectedFood].rank.toLowerCase()
                        switch(r) {
                            case "green":
                                return "Green - Choose Often";
                                break;
                            case "yellow":
                                return "Yellow - Choose Sometimes";
                                break;
                            case "red":
                                return "Red - Choose Rarely";
                                break;
                            case "unranked":
                                return "Unranked";
                                break;
                            default:
                                if ( this.results[this.selectedFood].total_items_analyzed ) {
                                    return "See distribution of product ranks below";
                                }
                                return "Not Yet Ranked";
                        }
                    }
                }
            },
            methods: {
                initChart() {
                    const ctx = document.getElementById('resultChart').getContext('2d');
                    if ( this.chart ) {
                        this.chart.destroy();
                    }

                    const config = {
                        type: 'doughnut',
                        data: {
                            labels: [
                                'Choose Often',
                                'Choose Sometimes',
                                'Choose Rarely'
                            ],
                            datasets: [{
                                label: 'Foods Analyzed',
                                data: [
                                    this.results[this.selectedFood]?.percent_green,
                                    this.results[this.selectedFood]?.percent_yellow,
                                    this.results[this.selectedFood]?.percent_red
                                ],
                                backgroundColor: [
                                    'green',
                                    'yellow',
                                    'red'
                                ]
                            }]
                        },
                        options: {
                            plugins: {
                                labels: {
                                    position: 'outside',
                                    render: function(args) {
                                        return args.value + '%';
                                    },
                                    outsidePadding: 4,
                                    textMargin: 4
                                }
                            }
                        },
                        plugins: [legendPaddingPlugin]
                    };
                    this.chart = new Chart(ctx, config);
                }
            }
        });
    </script>
</body>

</html>